* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0bdbd;
  color: #333;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

td {
  background-color: #f2f2f2;
}

td:hover {
  background-color: #ddd;
}

th {
  background-color: #b18c8c;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

